@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notification-success {
    background-color: #4caf50 !important;
    color: white !important;
}

.notification-success .mat-mdc-button {
    color: white !important;
}

.notification-error {
    background-color: #f44336 !important;
    color: white !important;
}

.notification-error .mat-mdc-button {
    color: white !important;
}

.notification-warning {
    background-color: #ff9800 !important;
    color: white !important;
}

.notification-warning .mat-mdc-button {
    color: white !important;
}

.notification-info {
    background-color: #2196f3 !important;
    color: white !important;
}

.notification-info .mat-mdc-button {
    color: white !important;
}